@import 'variables.scss';
.searchbar {
    height: 50px;
    line-height: 42px;
    border-bottom: 1px solid #fdfdfd;
    box-shadow: 0px 1px #fbfbfb;
    input,
    i {
        font-size: 10px;
        color: #b6bdd2;
        border: none;
        background-color: none;
    }
}