$sidebar-background: #444c63;
$nav-text-color: #8692b2;
$black-text-color: #364760;
$main-background: #ffffff;
$main-font-size: 10px;
$main-font: 'Open Sans',
sans-serif;
$blue-color: #00b5f9;
$white-color: #ffffff;
$main-border-color: #f6f6f6;